.filter-container{
    display: flex;
    flex-direction: column;
    width: 270px;
    height: 100%;
    padding: 1rem 2rem 80px;
    position: fixed;
    left: 0;
    border-right: 1px solid lightgrey;
    overflow-y: auto;
    gap: 2rem;
    grid-gap: 2rem;
}

.clear-btn{
    padding: 0.3rem 1rem;
    border-radius: 0.5rem;
    background-color: transparent;
}

.clear-btn:hover{
    background-color: palevioletred;
    color: white;
    cursor: pointer;
}

.filter-heading{
    display:flex;
    justify-content: space-between;
    padding-top: 1rem; 
}

.flex-gap{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.range-values{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}

.filter-sorting{
    display: flex;
    flex-direction: column;
}